# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# 编译 / 构建
build/
dist/
*.egg-info/
.eggs/
*.egg

# 虚拟环境
venv/
.env/
env/
ENV/
.venv/

# pip / poetry / pipenv
pip-log.txt
pip-delete-this-directory.txt
poetry.lock
Pipfile.lock

# =========================
# 日志
# =========================
*.log

# =========================
# IDE（编辑器）
# =========================

# PyCharm / IntelliJ
.idea/

# VS Code
.vscode/

# =========================
# 操作系统文件
# =========================

# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# =========================
# 测试 / 覆盖率
# =========================
.pytest_cache/
.coverage
htmlcov/

# =========================
# Jupyter Notebook
# =========================
.ipynb_checkpoints/

# =========================
# 临时文件
# =========================
*.swp
*.swo
